:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #92A8D1;
  margin:0;
}

:root body{
  margin:0;
}

h1{
  text-align: center
}

.header_container{
  background-color: #183c67;
  width: 100vw;
  display: flex;
}

.header_list{
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

.header_link{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin:20px;
  padding: 20px;
}

.page_logo{
  display:inline-block;
  height: 100px;
  width: 300px;
  margin: 20px;
}

.articles_list{
  margin-top: 50px;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
  list-style-type: none;
  text-align: center;
}

.articles_list_item{
  display: inline-block;
}

.article_img{
  height: 200px;
  width: 200px;
  border-radius: 10%;
}

.article_title{
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

.article_card{
  background-color: lightblue;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 40px;
  text-align: center;
  height: 400px;
  width: 400px;
  display: table;
  font-weight: 900;
}

.single_article{
  text-align: center;
}

.comments_list{
  list-style-type: none;
}

.comment{
  border-style: solid;
  border-color: black;
  margin: 20px;
  padding: 20px;
}

.user_list{
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.user_list_img{
    height: 200px;
    width: 200px
}

.user_card{
  background-color: lightblue;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 40px;
  height: 400px;
  width: 400px;
  display: table;
  font-weight: 900;
}

#user_button{
  height:40px;
  width: 200px;
}