@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: black;
}

.navbar{
  text-align: center;
}

.navitem{
  margin-left: 1em;
  margin-right: 1em;
}

.article_title{
  font-size: 40px;
  font-weight: 900;
}

h1{
  font-size: 4rem;
  text-align: center
}

.articles_list{
  display: block;
  margin-left: 45em;
  margin-right: 45em; 
  list-style-type: none;
  text-align: center;
}

.article_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article_list_item{
  margin-top: 20px;
  margin-bottom:20px;
  font-weight: 900;
}

.single_article{
  text-align: center;
}

.comments_list{
  list-style-type: none;
}

.comment{
  border-style: solid;
  border-color: black;
  margin-top: 50px;
  margin-bottom:50px;
  margin-left:20vw;
  margin-right:20vw;
  padding: 20px;
}

.user_list{
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.user_list_img{
    height: 200px;
    width: 200px
}

.user_card{
  border-style: solid;
  border-color: black;
  margin: 20px;
  padding: 20px;
  width: 300px;
}

#user_button{
  height:40px;
  width: 200px;
} 

.error_message{
  font-size: 1.2rem;
}

