// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";


.ml-inline-5 {
    margin-inline-start: 5%;
}

.pl-9 {
    padding-left: ($spacer * 3) !important;
}

.pl-2{
    padding-left: ($spacer * .5);
}

.mr-0{
    margin-left:auto;
    margin-inline-end: 5%;
}