// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



a{
    text-decoration: none;
    color: black;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
    
  }

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
  }


body { 
    background: url(https://images.pexels.com/photos/4792089/pexels-photo-4792089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.sort-selection{
    padding-left: ($spacer * .5);
    @media screen and (max-width: 992px){
        display:none;
    }
}


.topic-selection{
    padding-left: ($spacer *.5);
    @media screen and (max-width: 992px){
        display: none;
    }
}

.sort-dropdown{
    @media screen and (min-width: 992px){
        display: none;
    }
}

.topic-dropdown{
    @media screen and (min-width: 992px){
        display: none;
    }
}

.ml-inline-5 {
    margin-inline-start: 5%;
}

.ml-end-5{
    margin-inline-end: 5%;
}

.user-icon{
    @media screen and (max-width: 992px){
        display: none;
    }
}

.responsive-login{
    @media screen and (min-width: 992px){
        display:none;
    }
}

.pl-9 {
    padding-left: ($spacer * 3) !important;
}

.pl-2{
    padding-left: ($spacer * .5);
}

.mr-0{
    margin-left:auto;
    margin-inline-end: 5%;
}

.ml-4{
    margin-left: ($spacer * 1.5) !important;
}

.px-16 {
    padding-left: ($spacer * 4) !important;
    padding-right: ($spacer * 4) !important;
  }

.py-4{
    padding-top: ($spacer *1.5);
    padding-bottom: ($spacer *1.5);
}

@media screen and (min-width: 700px){
    .w-md{
        width: 50%;
    }
}


@media screen and (max-width: 700px){
    .w-md{
     width: 100%;
    }
}

.bg-blue{
    background-color: #183c67;
}

.bg-light-blue{
    background-color: lightblue;
}